# Practica "Años perrunos"

##### Se dice que un año humano equivale a $7$ años caninos. Sin embargo, esta simple conversión no reconoce que los perros alcanzan la edad adulta en aproximadamente dos años. Como resultado, algunas personas creen que es mejor contar cada uno de los dos primeros años humanos como $10.5$ años caninos y luego contar cada año humano adicional como $4$ años caninos.

##### Escriba un programaen Python que implemente la conversion descrita en el párrafo anterior y solicite al usuario (validando entrada: número positivo) los años humano que tiene tu amigo perruno y e imprima los correspondientes años caninos de tu mascota. Asegurate de que tu programa funcione correctamente para conversiones de menos de dos años humanos y para conversiones de dos o más años humanos.

# Practica 

#### Crea un programa en Python utilizando el módulo Turtle para dibujar 60 cuadrados, girando a la derecha 5 grados después de cada cuadrado

# Practica 

#### Crea un programa en Python utilizando el módulo Turtle para dibujar 60 cuadrados, girando 5 grados después de cada cuadrado y haciendo que cada cuadrado sucesivo sea más grande. Comience con una longitud de 5 e incremente 5 unidades cada cuadrado.

# Practica 

#### Crea un programa en Python utilizando el módulo Turtle para dibujar la siguiente figura:
<center>
<img src="../Imagenes/espiral_turtle.png" alt="", width="35%" height="auto">

</center>

<b>Observación</b> ¡Omitir los colores!

# Sets

Los **sets** en Python son una estructura de datos usada para almacenar elementos de una manera similar a las listas, pero con ciertas diferencias.

* Los elementos de un set son **únicos**, lo que significa que no **puede haber elementos duplicados**.
  
* Los set son **desordenados**, lo que significa que **no mantienen el orden de cuando son declarados**.
  
* Sus elementos son **inmutables**.

## Crear set Python

Para crear un set en Python se puede hacer con `set()` y pasando como entrada cualquier tipo iterable, como puede ser una lista. Se puede ver como a pesar de pasar elementos duplicados como dos `8` y en un orden determinado, al imprimir el set no conserva ese orden y los duplicados se han eliminado.

In [4]:
s = set([5, 4, 6, 8, 8, 1])
print(s)
print(type(s))

{1, 4, 5, 6, 8}
<class 'set'>

Se puede hacer lo mismo haciendo uso de `{ }`,  sin usar la palabra `set()` como se muestra a continuación:

In [ ]:
s = {5, 4, 6, 8, 8, 1}
print(s)      
print(type(s))

## Operaciones con sets

A diferencia de las listas, en los set **no podemos modificar un elemento a través de su índice**. Si lo intentamos, tendremos un `TypeError`.

In [5]:
s = set([5, 6, 7, 8])
s[0]

TypeError: 'set' object is not subscriptable

**Los elementos de un `set` deben ser inmutables**, por lo que un elemento de un set **no puede ser** ni un *diccionario* ni una *lista*. Si lo intentamos tendremos un `TypeError`

In [14]:
lista = ["Perú", "Argentina"]
s = set(["México", "España", lista])

TypeError: unhashable type: 'list'

Los sets **se pueden iterar de la misma forma que las listas**.

In [6]:
s = set([5, 6, 7, 8])
for ss in s:
    print(ss)

8
5
6
7

Con la función `len()` podemos saber la **longitud total del set**. Recuerda que los duplicados son eliminados.

In [7]:
s = set([1, 2, 2, 3, 4])
print(len(s))

4

También **podemos saber si un elemento está presente en un set con el operador `in`**. Se el valor existe en el set, se devolverá `True`.

In [15]:
frutas = set(["mango", "sandia"])
print("platano" in s)

False

Los sets tienen además diferentes funcionalidades, que se pueden aplicar en forma de operador o de método. Por ejemplo, el operador `|` nos permite realizar la **unión de dos sets**, lo que equivale a juntarlos. El equivalente es el método `union()` que veremos a continuación:

In [9]:
s1 = set([1, 2, 3])
s2 = set([3, 4, 5])
print(s1 | s2)

{1, 2, 3, 4, 5}

# Métodos `set` en Python

 <table class="post-table">
                                                <thead>
                                                    <td>Método</td>
                                                    <td>Descripción</td>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <code>add(e)</code>
                                                    </td>
                                                    <td>Añade un elemento al conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>clear()</code>
                                                    </td>
                                                    <td>Elimina todos los elementos del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>copy()</code>
                                                    </td>
                                                    <td>Devuelve una copia superficial del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>difference(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la diferencia del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>difference_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la diferencia con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>discard(e)</code>
                                                    </td>
                                                    <td>Elimina, si existe, el elemento del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>intersection(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la intersección del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>intersection_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la intersección con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>isdisjoint(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si dos conjuntos son disjuntos.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>issubset(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si el conjunto es subconjunto del 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>issuperset(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si el conjunto es superconjunto del 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>pop()</code>
                                                    </td>
                                                    <td>Obtiene y elimina un elemento de forma aleatoria del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>remove(e)</code>
                                                    </td>
                                                    <td>Elimina el elemento del conjunto. Si no existe lanza un error.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>symmetric_difference(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la diferencia simétrica del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>symmetric_difference_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la diferencia simétrica con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>union(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la unión del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la unión con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                            </table>

# Tupla (tuple)

Las **tuplas** en Python son un tipo o estructura de datos que permite almacenar datos de una manera muy parecida a las listas, con la salvedad de que son inmutables.

Las tuplas en Python o tuples son muy similares a las listas, pero con dos diferencias. Son inmutables, lo que significa que no pueden ser modificadas una vez declaradas, y en vez de inicializarse con corchetes se hace con (). Dependiendo de lo que queramos hacer, las tuplas pueden ser más rápidas.

## Crear tupla Python

En vez de inicializarse con corchetes se hace con ()

In [ ]:
tupla = (1, 2, 3)
print(tupla)

También pueden declararse sin (), separando por , todos sus elementos.

In [10]:
tupla = 1, 2, 3
print(type(tupla))
print(tupla)

<class 'tuple'>
(1, 2, 3)

## Operaciones con tuplas

Como hemos comentado, las tuplas son tipos inmutables, lo que significa que una vez asignado su valor, no puede ser modificado. Si se intenta, tendremos un TypeError.

In [ ]:
tupla = (1, 2, 3)
tupla[0] = 5

Al igual que las listas, las tuplas también pueden ser anidadas.

In [11]:
tupla = 1, 2, ('a', 'b'), 3
print(tupla)      
print(tupla[2][0])

(1, 2, ('a', 'b'), 3)
a

Y también es posible convertir una lista en tupla haciendo uso de al función tuple().

In [ ]:
lista = [1, 2, 3]
tupla = tuple(lista)
print(type(tupla)) 
print(tupla)

Se puede iterar una tupla de la misma forma que se hacía con las listas.

In [12]:
tupla = [1, 2, 3]
for t in tupla:
    print(t)

1
2
3

Y se puede también asignar el valor de una tupla con n elementos a n variables.

In [ ]:
l = (1, 2, 3)
x, y, z = l
print(x, y, z)

Aunque tal vez no tenga mucho sentido a nivel práctico, es posible crear una tupla de un solo elemento. Para ello debes usar , antes del paréntesis, porque de lo contrario (2) sería interpretado como int.

In [13]:
tupla = (2,)
print(type(tupla))

<class 'tuple'>

## Métodos tuplas

### método count() 

El método count() cuenta el número de veces que el objeto pasado como parámetro se ha encontrado en la lista.

In [ ]:
l = [1, 1, 1, 3, 5]
print(l.count(1))

### método index() 

El método index() busca el objeto que se le pasa como parámetro y devuelve el índice en el que se ha encontrado

In [ ]:
l = [7, 7, 7, 3, 5]
print(l.index(5))

En el caso de no encontrarse, se devuelve un ValueError.

In [ ]:
l = [7, 7, 7, 3, 5]
print(l.index(35))

### método index()
 
El método index() también acepta un segundo parámetro opcional, que indica a partir de que índice empezar a buscar el objeto.

In [ ]:
l = [7, 7, 7, 3, 5]
print(l.index(7, 2))