# Sets

Los **sets** en Python son una estructura de datos usada para almacenar elementos de una manera similar a las listas, pero con ciertas diferencias.

* Los elementos de un set son **únicos**, lo que significa que no **puede haber elementos duplicados**.
  
* Los set son **desordenados**, lo que significa que **no mantienen el orden de cuando son declarados**.
  
* Sus elementos son **inmutables**.

## Crear set Python

Para crear un set en Python se puede hacer con `set()` y pasando como entrada cualquier tipo iterable, como puede ser una lista. Se puede ver como a pesar de pasar elementos duplicados como dos `8` y en un orden determinado, al imprimir el set no conserva ese orden y los duplicados se han eliminado.

In [ ]:
s = set([5, 4, 6, 8, 8, 1,1]) 
print(s)
# print(type(s))

Se puede hacer lo mismo haciendo uso de `{ }`,  en lugar de usar la palabra `set( )` como se muestra a continuación:

In [ ]:
s = {5, 4, 6, 8, 8, 1}
print(s)      
#print(type(s))

In [ ]:
colores = {'rojo', 'naranja', 'amarillo', 'verde', 'rojo', 'azul'}
print(colores)

## Características de los  `sets`

A diferencia de las listas, en los set's **no podemos acceder ni modificar un elemento a través de su índice**. Si lo intentamos, tendremos un `TypeError`.

In [ ]:
s = set([5, 6, 7, 8])
#s[0]
s[0]=9

**Los elementos de un `set` deben ser inmutables**, por lo que **un elemento de un set no puede ser** ni un *`diccionario`* ni una *`lista`*. Si lo intentamos tendremos un `TypeError`

In [ ]:
lista = ["Perú", "Argentina"]
s = set(["México", "España", lista])

Los sets **se pueden iterar de la misma forma que las listas**.

In [ ]:
s = set([5, 6, 7, 7,8,8])
for elemento in s:
    print(elemento)

In [ ]:
letras=set('actuaria')
print(letras)

## Determinar la longitud de un conjunto

Con la función `len( )` podemos saber la **longitud total del set**. Recuerda que los duplicados son eliminados.

In [ ]:
s = set([1, 2, 2, 3, 4])
print(len(s)) 

letras=set('actuaria')
print(len(letras))

## Determinar si un elemento se encuentra en el conjunto

También **podemos saber si un elemento está presente en un set con el operador `in`**. Se el valor existe en el set, se devolverá `True`.

In [ ]:
colores = {'rojo', 'naranja', 'amarillo', 'verde', 'rojo', 'azul'}

print('rojo' in colores)

print('morado' in colores)

print('morado' not in colores)

In [ ]:
frutas = set(["mango", "sandia", "melon",'melon'])
print(frutas)
print("platano" in frutas)

# Crear un conjunto con un función `set`

In [ ]:
numbers = list(range(10)) + list(range(5))
print(numbers)
print(set(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Comparar conjuntos

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3,4,5}
s3={2,3,4,5}

print(s1==s2)
print(s1==s3)
print(s1!=s3)

True
False
True

# Operaciones matematicas

Los sets tienen además diferentes funcionalidades, que se pueden aplicar en forma de operador o de método. Por ejemplo, el operador `|` nos permite realizar la **unión de dos sets**, lo que equivale a *juntarlos*,  lo que en Matemáticas sería realizar la Union de conjuntos. Equivalentemente podemos utilizar el método `union()` que veremos a continuación:

In [ ]:
s1 = set([1, 2, 3])
s2 = set([3, 4, 5])
print(s1 | s2)

{1, 2, 3, 4, 5}

In [ ]:
s1 = set([1, 2, 3,6])
s2 = set([3, 4, 5,4])
print(s1.union(s2))

{1, 2, 3, 4, 5, 6}

# Iterar a traves de conjuntos

In [ ]:
for color in colores:
    print(color.upper() , end='  ')

# Métodos `set` en Python

 <table class="post-table">
                                                <thead>
                                                    <td>Método</td>
                                                    <td>Descripción</td>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <code>add(e)</code>
                                                    </td>
                                                    <td>Añade un elemento al conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>clear()</code>
                                                    </td>
                                                    <td>Elimina todos los elementos del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>copy()</code>
                                                    </td>
                                                    <td>Devuelve una copia  del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>difference(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la diferencia del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>difference_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la diferencia con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>discard(e)</code>
                                                    </td>
                                                    <td>Elimina, si existe, el elemento del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>intersection(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la intersección del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>intersection_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la intersección con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>isdisjoint(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si dos conjuntos son disjuntos.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>issubset(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si el conjunto es subconjunto del 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>issuperset(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si el conjunto es superconjunto del 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>pop()</code>
                                                    </td>
                                                    <td>Obtiene y elimina un elemento de forma aleatoria del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>remove(e)</code>
                                                    </td>
                                                    <td>Elimina el elemento del conjunto. Si no existe lanza un error.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>symmetric_difference(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la diferencia simétrica del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>symmetric_difference_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la diferencia simétrica con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>union(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la unión del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la unión con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                            </table>

# Práctica

#### Cree dos conjuntos de estudiantes, uno para los que presentaron un examen y otro para los que enviaron un proyecto.

In [ ]:
examen={'Benito','Maribel','Ximena','Doroteo','Flavia','Ignacio','Francisco','Lucia','Anahi','Juan','Pedro','Santiago','Lluvia'}

proyecto={'Heriberto','Ximena','Flavio','Concepcion','Fernando','Francisco','Jesus','Pedro','Santiago','Sebastian','Coral'}

In [ ]:
print(examen)
print(proyecto)

#### Usando estos conjuntos responde las siguientes preguntas:

* ##### ¿Qué estudiantes presentaron el examen y enviaron el proyecto?
* ##### ¿Qué estudiantes sólo presentaron el examen?
* ##### ¿Qué estudiantes sólo presentaron el proyecto?
* ##### Haga una lista de todos los estudiantes que tomaron el examen y el proyecto (o ambos).
* ##### Haga una lista de todos los estudiantes que tomaron el examen y el proyecto (pero no ambos).

# Tupla (tuple)

Las **tuplas** en Python son un tipo o estructura de datos que permite almacenar datos de una manera muy parecida a las listas, con la salvedad de que son inmutables.

Las **tuplas** o **tuples** en Python  son **muy similares a las listas**, pero con dos diferencias. Son **inmutables**, lo que significa que no pueden ser modificadas una vez declaradas. Dependiendo de lo que queramos hacer, las tuplas pueden ser más rápidas.

## Crear tupla Python

Para crear una tupla en Python se inicializa con  `( )` en lugar de corchetes. En vez de inicializarse con corchetes se hace con `( )`

In [ ]:
tupla = (1,2,3,1,3)
print(tupla)

(1, 2, 3, 1, 3)

También pueden declararse sin `( )`, separando por **`,`** todos sus elementos:

In [ ]:
tupla = 1,2,3,1,3
print(type(tupla))
print(tupla)

<class 'tuple'>
(1, 2, 3, 1, 3)

## Operaciones con tuplas

Como hemos comentado, las tuplas son tipos inmutables, lo que significa que una vez asignado su valor, no puede ser modificado. Si se intenta, tendremos un TypeError.

In [ ]:
tupla = (1,2,3,1,3)
tupla[0] = 5

TypeError: 'tuple' object does not support item assignment

Sin embargo, si es posible acceder  a cada uno de sus elementos mediante sus índices:

In [ ]:
tupla = (1,2,3,1,3)
tupla[0]

1

Al igual que las listas, las tuplas también pueden ser anidadas.

In [ ]:
tupla = 1,2,('a', 'b'),3
print(tupla)      
print(tupla[2][0])

(1, 2, ('a', 'b'), 3)
a

Y también es posible **convertir una lista en tupla** haciendo uso de la función `tuple( )`.

In [ ]:
lista = [1,2,3,1,3]
tupla = tuple(lista)
print(type(tupla)) 
print(tupla)

<class 'tuple'>
(1, 2, 3, 1, 3)

Se puede iterar una tupla de la misma forma que se hacía con las listas.

In [ ]:
tupla = (1,2,3,1,3)
for t in tupla:
    print(t)

1
2
3
1
3

Y se puede también **asignar el valor de una tupla con $n$ elementos a $n$ variables**.

In [ ]:
tupla = (1, 2, 3)
x, y, z = tupla
print(x, y, z)

1 2 3

Aunque tal vez no tenga mucho sentido a nivel práctico, es posible crear una tupla de un solo elemento. Para ello debes usar , antes del paréntesis, porque de lo contrario (2) sería interpretado como int.

In [ ]:
tupla = (2,)
print(type(tupla)) 
print(tupla)

<class 'tuple'>
(2,)

## Métodos tuplas

### Método `count( )`

El método `count( )` cuenta el número de veces que el objeto pasado como parámetro se ha encontrado en la lista.

In [ ]:
tupla = [1, 1, 1, 3, 5]
print(tupla.count(1))

3

### Método `index( )`

El método `index( )` **busca el objeto que se le pasa como parámetro** y **devuelve el índice en el que se ha encontrado**

In [ ]:
tupla = [7, 7, 7, 3, 5]
print(tupla.index(5))

4

En el caso de no encontrarse, se devuelve un ValueError.

In [ ]:
l = [7, 7, 7, 3, 5]
print(l.index(35))

ValueError: 35 is not in list

### Método `index( )`
 
El método `index( )` también acepta un segundo parámetro opcional, que indica a partir de que índice empezar a buscar el objeto.

In [ ]:
tupla = [7, 7, 7, 3, 5]
print(tupla.index(7, 2))

2

## Iterables e iteradores

Una **clase iterable** es una clase que puede ser *iterada*. Dentro de Python hay gran cantidad de clases iterables como las *listas*,* strings*, *diccionarios* o *ficheros*. Si tenemos una clase iterable, podemos usarla a la derecha del `for` de la siguiente manera:

<center>
<code>for elemento in [clase_iterable]:</code>
            
</center>

Si usamos el for como acabamos de mostrar, la variable elemento irá tomando los valores de cada elemento presente en la clase iterable. De esta manera, ya no tenemos que ir accediendo manualmente con [] a cada elemento.

* Los **iterables** son aquellos objetos que como su nombre indica pueden ser iterados, lo que dicho de otra forma es, que puedan ser indexados. Si piensas en un *array* (o una *list* en Python), podemos indexarlo con `lista[1]` por ejemplo, por lo que sería un iterable.


* Los **iteradores** son objetos que hacen referencia a un elemento, y que tienen un método next que permite hacer referencia al siguiente.

### Iterables

Los **iterables** son objetos que pueden ser iterados o accedidos con un índice. Algunos ejemplos de iterables en Python son las *listas*, *tuplas*, *cadenas* o *diccionarios*. Sabiendo esto, lo primero que tenemos que tener claro es que en un `for`, lo que va después del `in` deberá ser siempre un *iterable*.

¿Cómo sabemos si algo es iterable o no?. Bien fácil, con la siguiente función `isinstance()` podemos saberlo.

In [ ]:
from collections import Iterable
lista = [1, 2, 3, 4]
cadena = "Python"
numero = 10
print(isinstance(lista, Iterable))  #True
print(isinstance(cadena, Iterable)) #True
print(isinstance(numero, Iterable)) #False

Por lo tanto las listas y las cadenas son iterables, pero numero, que es un entero no lo es. Es por eso por lo que no podemos hacer lo siguiente, ya que daría un error. De hecho el error sería *TypeError: int' object is not iterable*.

In [ ]:
numero = 10
for i in numero:
    print(i)

TypeError: 'int' object is not iterable

### Iteradores

Para entender los **iteradores**, es importante conocer la función iter() en Python. Dicha función puede ser llamada sobre un objeto que sea iterable, y nos devolverá un iterador como se ve en el siguiente ejemplo.

In [ ]:
lista = [5, 6, 3, 2]
it = iter(lista)
print(it)      
print(type(it))

Vemos que al imprimir it es un iterador, de la *clase list_iterator*. Esta variable iteradora, hace referencia a la lista original y nos permite acceder a sus elementos con la función `next()`. Cada vez que llamamos a `next`() sobre `it`, nos devuelve el siguiente elemento de la lista original. Por lo tanto, si queremos acceder al elemento $4$, tendremos que llamar $4$ veces a `next()`. Nótese que el iterador empieza apuntando fuera de la lista, y no hace referencia al primer elemento hasta que no se llama a `next()` por primera vez.

In [ ]:
lista = [5, 6, 3, 2]
it = iter(lista)
print(next(it))
print(next(it))
print(next(it))
print(next(it))

# Manejo de excepciones

Es importante aprender cómo manejar y controlar las excepciones en Python para asegurarse de que las aplicaciones sean resistentes a errores y se ejecuten de manera consistente.

# Sentencia Try-Except


La sentencia `try` contiene el bloque de código que puede ocasionar una excepción o un error, mientras que la sentencia `except`   contiene el bloque de código que se ejecutará si y sólo si un error es detectado en nuestro código. 

Por ejemplo, las líneas de código siguiente nos dará error si el usuario introduce letras en lugar de números:

In [ ]:
num=int(input('¿Cuantos años tienes?'))
print(f'Tienes  {num} años')

tienes  8 años

Por lo tanto podemos implementar la sentencia `try-excep`:

In [ ]:
try:
    num=int(input('¿Cuantos años tienes?'))
    print(f'Tienes  {num} años')
except:
    print('Tipo de dato incorrecto')

Tienes  9 años

## Multiples excepciones

En algunas ocasiones necesitaremos agregar **multiples excepciones** en caso de que nuestro código tenga varios tipos de errores. Para lo cual Python cuenta con palabras reservadas para clasificar el tipo de error : si es un error de sintaxis, si es un error de tipo de variable entre otros.

In [ ]:
num1 = input