# Sets

Los **sets** en Python son una estructura de datos usada para almacenar elementos de una manera similar a las listas, pero con ciertas diferencias.

* Los elementos de un set son **únicos**, lo que significa que no **puede haber elementos duplicados**.
  
* Los set son **desordenados**, lo que significa que **no mantienen el orden de cuando son declarados**.
  
* Sus elementos son **inmutables**.

## Crear set Python

Para crear un set en Python se puede hacer con `set()` y pasando como entrada cualquier tipo iterable, como puede ser una lista. Se puede ver como a pesar de pasar elementos duplicados como dos `8` y en un orden determinado, al imprimir el set no conserva ese orden y los duplicados se han eliminado.

In [ ]:
s = set([5, 4, 6, 8, 8, 1,1]) 
print(s)
# print(type(s))

Se puede hacer lo mismo haciendo uso de `{ }`,  en lugar de usar la palabra `set( )` como se muestra a continuación:

In [ ]:
s = {5, 4, 6, 8, 8, 1}
print(s)      
#print(type(s))

In [ ]:
colores = {'rojo', 'naranja', 'amarillo', 'verde', 'rojo', 'azul'}
print(colores)

## Características de los  `sets`

A diferencia de las listas, en los set's **no podemos acceder ni modificar un elemento a través de su índice**. Si lo intentamos, tendremos un `TypeError`.

In [ ]:
s = set([5, 6, 7, 8])
#s[0]
s[0]=9

**Los elementos de un `set` deben ser inmutables**, por lo que **un elemento de un set no puede ser** ni un *`diccionario`* ni una *`lista`*. Si lo intentamos tendremos un `TypeError`

In [ ]:
lista = ["Perú", "Argentina"]
s = set(["México", "España", lista])

Los sets **se pueden iterar de la misma forma que las listas**.

In [ ]:
s = set([5, 6, 7, 7,8,8])
for elemento in s:
    print(elemento)

In [ ]:
letras=set('actuaria')
print(letras)

## Determinar la longitud de un conjunto

Con la función `len( )` podemos saber la **longitud total del set**. Recuerda que los duplicados son eliminados.

In [ ]:
s = set([1, 2, 2, 3, 4])
print(len(s)) 

letras=set('actuaria')
print(len(letras))

## Determinar si un elemento se encuentra en el conjunto

También **podemos saber si un elemento está presente en un set con el operador `in`**. Se el valor existe en el set, se devolverá `True`.

In [ ]:
colores = {'rojo', 'naranja', 'amarillo', 'verde', 'rojo', 'azul'}

print('rojo' in colores)

print('morado' in colores)

print('morado' not in colores)

In [ ]:
frutas = set(["mango", "sandia", "melon",'melon'])
print(frutas)
print("platano" in frutas)

# Crear un conjunto con un función `set`

In [ ]:
numbers = list(range(10)) + list(range(5))
print(numbers)
print(set(numbers))

# Comparar conjuntos

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3,4,5}
s3={2,3,4,5}

print(s1==s2)
print(s1==s3)
print(s1!=s3)

# Operaciones matematicas

Los sets tienen además diferentes funcionalidades, que se pueden aplicar en forma de operador o de método. Por ejemplo, el operador `|` nos permite realizar la **unión de dos sets**, lo que equivale a *juntarlos*,  lo que en Matemáticas sería realizar la Union de conjuntos. Equivalentemente podemos utilizar el método `union()` que veremos a continuación:

In [ ]:
s1 = set([1, 2, 3])
s2 = set([3, 4, 5])
print(s1 | s2)

In [ ]:
s1 = set([1, 2, 3,6])
s2 = set([3, 4, 5,4])
print(s1.union(s2))

# Iterar a traves de conjuntos

In [ ]:
for color in colores:
    print(color.upper() , end='  ')

# Métodos `set` en Python

 <table class="post-table">
                                                <thead>
                                                    <td>Método</td>
                                                    <td>Descripción</td>
                                                </thead>
                                                <tr>
                                                    <td>
                                                        <code>add(e)</code>
                                                    </td>
                                                    <td>Añade un elemento al conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>clear()</code>
                                                    </td>
                                                    <td>Elimina todos los elementos del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>copy()</code>
                                                    </td>
                                                    <td>Devuelve una copia  del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>difference(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la diferencia del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>difference_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la diferencia con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>discard(e)</code>
                                                    </td>
                                                    <td>Elimina, si existe, el elemento del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>intersection(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la intersección del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>intersection_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la intersección con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>isdisjoint(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si dos conjuntos son disjuntos.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>issubset(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si el conjunto es subconjunto del 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>issuperset(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve 
                                                        <code>True</code>
                                                         si el conjunto es superconjunto del 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>pop()</code>
                                                    </td>
                                                    <td>Obtiene y elimina un elemento de forma aleatoria del conjunto.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>remove(e)</code>
                                                    </td>
                                                    <td>Elimina el elemento del conjunto. Si no existe lanza un error.</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>symmetric_difference(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la diferencia simétrica del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>symmetric_difference_update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la diferencia simétrica con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>union(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Devuelve la unión del conjunto con el 
                                                        <code>iterable</code>
                                                         como un conjunto nuevo.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <code>update(iterable)</code>
                                                    </td>
                                                    <td>
                                                        Actualiza el conjunto tras realizar la unión con el 
                                                        <code>iterable</code>
                                                        .
                                                    </td>
                                                </tr>
                                            </table>

# A practicar ... 
<center>
<img src="../Imagenes/gorila_music.png" alt="", width="25%" height="auto">
<!-- ![Tablero de ajedrez](./Quizes_Imagenes/tablero_ajedrez.jpg) -->
</center>

## Practica 4.1 "Años perrunos"

##### Se dice que un año humano equivale a $7$ años caninos. Sin embargo, esta simple conversión no reconoce que los perros alcanzan la edad adulta en aproximadamente dos años. Como resultado, algunas personas creen que es mejor contar cada uno de los dos primeros años humanos como $10.5$ años caninos y luego contar cada año humano adicional como $4$ años caninos.

##### Escriba un programaen Python que implemente la conversion descrita en el párrafo anterior y solicite al usuario (validando entrada: número positivo) los años humano que tiene tu amigo perruno y e imprima los correspondientes años caninos de tu mascota. Asegurate de que tu programa funcione correctamente para conversiones de menos de dos años humanos y para conversiones de dos o más años humanos.

## Practica 4.2 

#### Crea un programa en Python utilizando el módulo Turtle para dibujar 60 cuadrados, girando a la derecha 5 grados después de cada cuadrado

## Practica 4.3

#### Crea un programa en Python utilizando el módulo Turtle para dibujar 60 cuadrados, girando 5 grados después de cada cuadrado y haciendo que cada cuadrado sucesivo sea más grande. Comience con una longitud de 5 e incremente 5 unidades cada cuadrado.

## Practica 4.4 

#### Crea un programa en Python utilizando el módulo Turtle para dibujar la siguiente figura:
<center>
<img src="../Imagenes/espiral_turtle.png" alt="", width="35%" height="auto">

</center>

<b>Observación</b> ¡Omitir los colores!

## Práctica 5.1

#### Cree dos conjuntos de estudiantes, uno para los que presentaron un examen y otro para los que enviaron un proyecto.

In [ ]:
examen={'Benito','Maribel','Ximena','Doroteo','Flavia','Ignacio','Francisco','Lucia','Anahi','Juan','Pedro','Santiago','Lluvia'}

proyecto={'Heriberto','Ximena','Flavio','Concepcion','Fernando','Francisco','Jesus','Pedro','Santiago','Sebastian','Coral'}

In [ ]:
print(examen)
print(proyecto)

#### Usando estos conjuntos responde las siguientes preguntas:

* ##### ¿Qué estudiantes presentaron el examen y enviaron el proyecto?
* ##### ¿Qué estudiantes sólo presentaron el examen?
* ##### ¿Qué estudiantes sólo presentaron el proyecto?
* ##### Haga una lista de todos los estudiantes que presentaron el examen y el proyecto (o ambos).
* ##### Haga una lista de todos los estudiantes que  presentaron el examen y el proyecto (pero no ambos).

# Tuplas (tuple) en Python

Las **tuplas** o **tuples**  en Python son un tipo o estructura de datos que permite almacenar datos de una manera muy parecida a las *listas*, con la salvedad de que son ***inmutables***. Usualmente en las tuplas almacenan datos *heterogéneos*, pero los datos pueden ser *homogéneos*.

Las **tuplas** en Python son **muy similares a las listas**, pero con la diferencia de que son **inmutables**, es decir, sus elementos  no pueden ser modificados. Al igual que con las *cadenas*, las componentes de las tuplas no pueden ser modificadas una vez declaradas.

## Crear tupla Python

Para crear una tupla en Python se inicializa con  `( )` en lugar de corchetes.

In [ ]:
tupla = (1,2,3,1,3)
print(tupla)

También pueden declararse sin `( )`, separando por **`,`** todos sus elementos:

In [ ]:
tupla = 1,2,3,1,3
print(type(tupla))
print(tupla)

## Accediendo a los elementos de la tupla

Como hemos comentado, las tuplas son tipos inmutables, lo que significa que una vez asignado su valor, no puede ser modificado. Si se intenta, tendremos un TypeError.

In [ ]:
tupla = (1,2,3,1,3)
tupla[0] = 5

Sin embargo, **si es posible acceder  a cada uno de sus elementos mediante sus índices**:

In [2]:
tupla = (1,2,3,1,3)
print(3 in tupla)
tupla[0]

True

1

Al igual que las listas, las tuplas también pueden ser anidadas.

In [ ]:
tupla = 1,2,('a', 'b'),3
print(tupla)      
print(tupla[2][0])

## Agregar elementos a una cadena o tupla

Al igual que con las listas, la declaración de asignación  `+=` se puede usar con cadenas y tuplas, aunque son inmutables. En el siguiente código, después de las dos asignaciones, `tuple1` y `tuple2` se refieren al mismo objeto de tupla

In [5]:
tuple1 = (10, 20, 30)
tuple2 = tuple1

tuple2

(10, 20, 30)

Concatenar la tupla `(40, 50)` a `tupla1` crea una nueva tupla, luego le asigna una referencia a la variable `tupla1`, mientras que `tupla2` todavía se refiere a la tupla original:

In [6]:
tuple1 += (40, 50)

tuple1

(10, 20, 30, 40, 50)

### Observación:

Para una cadena o tupla, el elemento a la derecha de += debe ser una cadena o tupla, respectivamente. Mezclar tipos provoca un `TypeError`.

## Agregar tuplas a las listas

Se puede utilizar `+=` para agregar una *tupla* a una *lista*:

In [9]:
numbers = [1, 2, 3, 4, 5]

numbers += (6, 7)

print(numbers)
numbers.index(0)

[1, 2, 3, 4, 5, 6, 7]

ValueError: 0 is not in list

## Convertir una lista en una tupla

También es posible **convertir una lista en tupla** haciendo uso de la función `tuple( )`.

In [ ]:
lista = [1,2,3,1,3]
tupla = tuple(lista)
print(type(tupla)) 
print(tupla)

## Iterandos sobre tuplas

Se puede iterar una tupla de la misma forma que se hacía con las listas.

In [ ]:
tupla = (1,2,3,1,3)
for t in tupla:
    print(t)

## Desempaquetado secuencias

Se puede también **asignar el valor de una tupla con $n$ elementos a $n$ variables**.

In [ ]:
tupla = (1, 2, 3)
x, y, z = tupla
print(x, y, z)

In [ ]:
tupla_estudiante = ('Amanda', [9.8, 8.5, 8.7,6])
nombre, calificaciones = tupla_estudiante

print(nombre)

print(calificaciones)

In [ ]:
number1 = 99
number2 = 22

number1, number2 = (number2, number1)

print(f'number1 = {number1}, number2 = {number2}')

El siguiente código desempaqueta una cadena, una lista y una secuencia producida por rango:

In [ ]:
primero, segundo = 'Hi'

In [ ]:
number1, number2, number3 = [2, 3, 5]

In [ ]:
number1, number2, number3 = range(10, 40, 10)

# Tuplas con un sólo elemento

Aunque tal vez no tenga mucho sentido a nivel práctico, es posible crear una tupla de un solo elemento. Para ello debes usar , antes del paréntesis, porque de lo contrario (2) sería interpretado como int.

In [ ]:
tupla = (2,)
print(type(tupla)) 
print(tupla)

# Longitud de una tupla

A las tuplas  se les puede aplicar la función `len()` para calcular su longitud. El valor de esta función aplicada a una tupla nos indica cuántas componentes tiene esa tupla.

## Métodos tuplas

### Método `count( )`

El método `count( )` cuenta el número de veces que el objeto pasado como parámetro se ha encontrado en la lista.

In [ ]:
tupla = [1, 1, 1, 3, 5]
print(tupla.count(1))

### Método `index( )`

El método `index( )` **busca el objeto que se le pasa como parámetro** y **devuelve el índice en el que se ha encontrado**

In [ ]:
tupla = [7, 7, 7, 3, 5]
print(tupla.index(5))

En el caso de no encontrarse, se devuelve un ValueError.

In [ ]:
l = [7, 7, 7, 3, 5]
print(l.index(35))

### Método `index( )`
 
El método `index( )` también acepta un segundo parámetro opcional, que indica a partir de que índice empezar a buscar el objeto.

In [ ]:
tupla = [7, 7, 7, 3, 5]
print(tupla.index(7, 2))

## Acceder a índices y valores con la función integrada enumerar

# A practicar ... 
<center>
<img src="../Imagenes/gorila_music.png" alt="", width="25%" height="auto">
<!-- ![Tablero de ajedrez](./Quizes_Imagenes/tablero_ajedrez.jpg) -->
</center>

## Práctica 5.1

#### Cree dos conjuntos de estudiantes, uno para los que presentaron un examen y otro para los que enviaron un proyecto.

In [1]:
examen={'Benito','Maribel','Ximena','Doroteo','Flavia','Ignacio','Francisco','Lucia','Anahi','Juan','Pedro','Santiago','Lluvia'}
proyecto={'Heriberto','Ximena','Flavio','Concepcion','Fernando','Francisco','Jesus','Pedro','Santiago','Sebastian','Coral'}
print(examen)
print(proyecto)

{'Lucia', 'Pedro', 'Maribel', 'Ximena', 'Flavia', 'Anahi', 'Benito', 'Ignacio', 'Francisco', 'Lluvia', 'Juan', 'Santiago', 'Doroteo'}
{'Jesus', 'Pedro', 'Sebastian', 'Fernando', 'Ximena', 'Concepcion', 'Coral', 'Francisco', 'Flavio', 'Heriberto', 'Santiago'}

#### Usando estos conjuntos e instrucciones en Python responde las siguientes preguntas:

* ##### ¿Qué estudiantes presentaron el examen y enviaron el proyecto?
* ##### ¿Qué estudiantes sólo presentaron el examen?
* ##### ¿Qué estudiantes sólo presentaron el proyecto?
* ##### Haga una lista de todos los estudiantes que presentaron el examen y el proyecto (o ambos).
* ##### Haga una lista de todos los estudiantes que  presentaron el examen y el proyecto (pero no ambos).

## Indices

Para acceder al índice y valor de un elementoes recomendable utilizar la función integrada `enumerate`. Esta función recibe un *iterable* y crea un *iterador* que, para cada elemento, devuelve una *tupla* que contiene el *índice* y el *valor del elemento*. 

El siguiente código utiliza la función predefinida `list` para crear una lista que contiene los resultados de `enumerate`

In [ ]:
colores = ['rojo','verde','amarillo','azul']
list(enumerate(colores))

Similarmente, la función predefinida `tuple` crea una tupla de una secuencia:

In [ ]:
tuple(enumerate(colores))

En  el codigo siguiente el ciclo `for` *desempaqueta* cada tupla retornada por enumerate en las variables `indice` y `valor`  y las muestra:

In [ ]:
for indice, valor in enumerate(colores):
    print(f'{indice}: {valor}')

# A practicar ... 
<center>
<img src="../Imagenes/gorila_music.png" alt="", width="25%" height="auto">
<!-- ![Tablero de ajedrez](./Quizes_Imagenes/tablero_ajedrez.jpg) -->
</center>

## Practica 5.2 

#### Crea un programa en Python 
<center>
<img src="../Imagenes/barra_numeros.jpg" alt="", width="35%" height="auto">
</center>

**Solución:**

In [29]:
numeros = [19, 20, 15, 7, 11]
print('\n Grafica de barras de números\n')
print(f'{"Indice":^10}{"Valor":^20}{"Barra":^20}')
for index, value in enumerate(numeros):
    print(f'{index:^10}{value:<25}{"*"*value:<20}')

 Grafica de barras de números

  Indice         Valor               Barra
    0     19                       *******************
    1     20                       ********************
    2     15                       ***************
    3     7                        *******
    4     11                       ***********

## Práctica 5.3 Zodiaco Chino

#### El zodíaco Chino asigna animales a los años en un ciclo de $12$ años. En la siguiente tabla se muestra un ciclo de $12$ años. El patrón se repite a partir de ahí, siendo $2012$ otro año del dragón y $1999$ otro año de la liebre.

<center>
<img src="../Imagenes/Zodiaco_chino.jpg" alt="", width="auto" height="auto">
</center>

#### Escriba un programa en Python que solicite al usuario un año y muestre el animal asociado con ese año. El  programa debe funcionar correctamente para cualquier año mayor o igual a cero, no solo para los enumerados en la tabla.

## Practica 5.4 ¿Qué día de la semana es el 1 de enero?

#### La siguiente fórmula se puede utilizar para determinar el día de la semana para el 1 de enero en un año determinado:

$$ \mathrm{dia\_semana}= \left( \mathrm{año} + \left \lfloor \frac{\mathrm{año} - 1}{4} \right\rfloor - \left \lfloor \frac{\mathrm{año} - 1}{100} \right\rfloor  + \left \lfloor \frac{\mathrm{año} - 1}{400} \right\rfloor  \right)\% 7    $$

#### El resultado calculado por esta fórmula es un número entero que representa el día de la semana. El domingo está representado por $0$. Los días restantes de la semana siguen en secuencia hasta el sábado, que está representado por $6$.

#### Usa la fórmula anterior para escribir un programa solicite al usuario un  año   e informe el día de la semana para el $1$ de enero de ese año La salida del  programa debe incluir el nombre completo del día de la semana, no solo el número entero devuelto por la fórmula.

## Practica 5.5

#### En un estado en particular, las placas de  automóviles más antiguas constan de tres letras mayúsculas seguidas de tres dígitos. Cuando se habían utilizado todas las matrículas que seguían ese patrón, se cambió el formato a cuatro dígitos seguidos de tres letras mayúsculas. 

#### Escribe  un programa en Python que solicite al usuario una cadena de caracteres. Entonces, evalua e imprime  un mensaje que indique si los caracteres son válidos para una placa de estilo más antiguo o para una placa de estilo más nuevo. El programa debe mostrar un mensaje apropiado si la cadena ingresada por el usuario no es válida para ningún estilo de matrícula.

## Práctica 5.6

#### Crea un programa en Python que imprima la tabla Pitagórica que muestre los productos de todas las combinaciones de números enteros desde $1$ a $1$ hasta $10$ por $10$ inclusive. La tabla Pitagórica debe incluir una fila de etiquetas en la parte superior. que contenga los números del $1$ al $10$. También debe incluir etiquetas en el lado izquierdo que contengan los números del $1$ al $10$. El resultado esperado del programa se muestra a continuación:

<center>
<img src="../Imagenes/tabla_pitagorica.jpg" alt="", width="auto" height="auto">
</center>